*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
update-normal-startup.png
update-normal-layout.json
/.playwright-cli/
/*.png
!/browser-screen.png
!/giztv-pixel-home-v12.png
/*-layout.json
